{% embed 'base.html.twig' with {'title': 'Éditer l\'article', 'subtitle': post.title, 'isFullscreen': '1', 'randomHeaderColors': '1'} %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    {% endblock %}

    {% block body %}
        <div class="container {% if isFullscreen %} fullscreen {% endif %}">

            <div class="generic-card {% if isFullscreen %} fullscreen {% endif %}">
                <header>
                    <h2>{{ title }}</h2>
                    <p class="subtitle"><a href="{{ path('blog_show_post', {
                            'day': post.createdAt|date('d'),
                            'month': post.createdAt|date('m'),
                            'year': post.createdAt|date('Y'),
                            'slug': post.slug}) }}">{{ subtitle }}</a></p>
                </header>
                <div class="content {% if isFullscreen %} fullscreen {% endif %}">
                    {% autoescape false %}
                        {% for message_danger in app.session.flashBag.get('danger') %}
                            <div class="alert alert-danger">{{ message_danger }}</div>
                        {% endfor %}
                        {% for message_success in app.session.flashBag.get('success') %}
                            <div class="alert alert-success">{{ message_success }}</div>
                        {% endfor %}
                    {% endautoescape %}
                    <form action="{{ path('blog_edit_post', {'id': post.id}) }}" method="post">
                        {% embed 'templates/blog_form_post_template.html.twig' with {'editMode': true} %}
                        {% endembed %}
                    </form>

                </div>


            </div>
        </div>

    {% endblock %}

    {% block customcss %}
        <style>
            .editor-toolbar{
                background: #fff;
                opacity: 0.9;
            }
            {% if randomHeaderColors %}
            .generic-card header {
                background: url("{{ asset('img/overlay.png') }}"), url("{{ asset('img/svg/header-bg.svg') }}"), linear-gradient(45deg, {{ generateColor() }} 20%, {{ generateColor() }} 80%) center, center, center;
            }
            {% endif %}
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
        <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            var simplemde = new SimpleMDE({ element: $("#postContent")[0],
                spellChecker: false,
                promptURLs: true,
                renderingConfig: {
                    codeSyntaxHighlighting: true
                }
            });
            simplemde.value("{{ convertHtmlToMarkdown(post.content)|e('js')|preg_replace("/\r|\n/", "\\n") }}");
        </script>

    {% endblock %}

{% endembed %}